config/nvim/lazy-lock.json
config/pulse
config/pavucontrol.ini
config/okularrc
config/mimeapps.list
config/ktechlabrc
config/QtProject.conf
config/gtk-3.0
config/htop
config/Thunar
config/Nextcloud
config/OpenHantek
config/VirtualBox
config/autostart
config/bluetuith
config/dconf
config/spicy
config/unity3d/Klei/Oxygen Not Included
config/vesktop
config/xsettingsd
config/obdautodoctor
config/nwg-look
