[Desktop Entry]
Name=freecad-weekly
Exec=freecad-weekly %u
Icon=freecad
Type=Application
MimeType=cad
StartupWMClass=freecad
Categories=CAD;
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Keywords=CAD;cad;CAE;cae
Actions=new-window

[Desktop Action new-window]
Name=Open a New Window
Exec=freecad-weekly %u
